body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavItems{
	margin-right: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavItems a{
	padding: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	color: #4B5D68;
}

.NavItems a:hover{
	color: #212353;
}

.NavButton{
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.NavButton a{
	padding: 17px 29px;
	color: #212353;
	display: flex;
	align-items: center;
	justify-content: center;
}

.NavButton:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavButton a:after{
	content: url(../images/HeaderNavigation/Strelka.png);
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 7px;
	background-position: right bottom;
}

/*HEader Uchun Stillar*/

.header{
	display: block;
	height: 550px;
	margin-top: 143px;
	background-image: url("../images/header.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.header h1{
	font-style: normal;
	font-weight: bold;
	width: 645px;
	font-size: 80px;
	line-height: 110%;
	color: #212353;
}

.header p{
	width: 380px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	margin: 50px 0;
}

.header a{
	padding: 16px 36px;
	background: #9C69E2;
	border-radius: 50px;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
}

/*Sectio  2 uchun Stillar*/
.section2{
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	margin-top: 100px;
}

.section2text{
	width: 474px;                      
}

.section2text h2{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	display: flex;
	align-items: center;
	color: #212353;
}

.section2text p{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	margin-top: 40px;
}




/*Section 3*/

.section3{
	display: block;
	text-align: center;
	margin-top: 149px;

}

.section3 h3{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	color: #212353;
	}

.section3 p{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	margin-top: 50px;
}

.section3BoxContainer{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.section3Box{
	width: 500px;
	margin-top:20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px;
}

.section3Box img{
	object-fit: contain;
}

.section3BoxText{
	width: 220px;
}

.section3BoxText h3{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	display: flex;
	color: #212353;
}

.section3BoxText p{
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 16px;
	color: #4B5D68;
	margin-top: 20px;
}

.section3BoxText a{
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	letter-spacing: 0.005em;
	color: #212353;
	margin-top: 20px;
}

.section3BoxText a:after{
	content: url('../images/section3/strelka.svg');
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 6px;
}

#section3Box1{
	background-image: url('../images/section3/background1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;	
}

#section3Box2{
	background-image: url('../images/section3/background2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;	
}

#section3Box3{
	background-image: url('../images/section3/background3.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;	
}

#section3Box4{
	background-image: url('../images/section3/background4.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;	
}

.section4{
	width: 100%;
	box-sizing: border-box;
	padding: 60px 70px;
	margin-top: 120px;
	background: #9C69E2;
	border-radius: 50px;
}

.section4 h2{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	color: #FFFFFF;
}

.section4Box{
	width: 645px;
	padding: 60px 70px;
	background: #FFFFFF;
	box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.section4Box img{
	object-fit: contain;
}

.section4float{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}

.section4BoxText h2{
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 160%;
	display: flex;
	align-items: flex-start;
	letter-spacing: 0.005em;
	color: #212353;
}


.section4Text{
	margin-left: 30px;
}

.section4innerText{
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	width: 385px;
	font-weight: normal;
	font-size: 18px;
	line-height: 180%;
	color: #4B5D68;
	margin-top: 10px;
}


.section4Links{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	box-sizing: border-box;
}

.section4nuqta{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
}
.nuqta{
	background-color: white;
	border-radius: 50%;
	padding: 10px;
}

.nuqta:hover{
	background: #F063B8;
	padding: 15px;
}

.section4strelka{
	display: flex;
	width: 80px;
	justify-content: space-between;
	align-items: center;
}


/*Fooooteeeeeeeeerrrrrr*/

.footer{
	width: 100%;
	box-sizing: border-box;
	border-top: 2px solid #9C69E2;
	height: 800px;
	margin-top: 150px;
}

.innerfooter{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.footertop{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

.footertopLink{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footertopanchor1{
	background-color: #F063B8;
	padding: 16px 37px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-weight: 900;
	font-style: normal;
	font-size: 18px;
}

.footertopanchor2{
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	padding: 17px 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #212353;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	margin-left: 20px;
}

.footertopanchor2:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footertopanchor2:after{
	content: url(../images/HeaderNavigation/Strelka.png);
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 7px;
	background-position: right bottom;
}


.footertopText h1{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	align-items: center;
	color: #212353;
}


.footertopText p{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
	margin-top: 20px;
}


/*Foooter Middle*/

.footermiddle{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 150px;
}

.footerlogo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}

.footerlogotext p{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	letter-spacing: 0.01em;
	color: #212353;
}

.footerlogotext a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
	letter-spacing: 0.01em;
	color: #212353;
}

.footermiddle li{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 250%;
	color: #212353
}

.socialnetwork{
	margin-top: 30px;
}

.socialnetwork img{
	object-fit: contain;
}


/*foooter bottom*/

.footerbottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 93px;
}

.footerbottomText p{
	font-style: normal;
	width: 360px;
	font-weight: normal;
	font-size: 12px;
	line-height: 230%;
	letter-spacing: 0.01em;
	color: #212353;
}

.footerbottomImage img{
	object-fit: contain;
}




















